@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "partials/reset.scss";
@import "partials/fonts.scss";

:root {
  --color-darkblue: #183a64;
  --color-orange: #ff7f00;
  --color-skyblue: #ade7f7;
}

#app {
  background-color: #f4f6fa !important;
  font-family: "Poppins", sans-serif;
}

.fw-medium {
  font-weight: 500 !important;
}

.bg-polibatam {
  min-height: 100vh;
  background-image: url("~@/assets/bg.jpeg");
  background-size: cover;
  background-position: center;
}

.bg-darkblue {
  background-color: var(--color-darkblue) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}

.bg-skyblue {
  background-color: var(--color-skyblue) !important;
}

.btn-outline-primary {
  background-color: #fff !important;
  color: var(--color-darkblue) !important;
  border: 1px solid var(--color-darkblue) !important;
}

.v-data-table {
  font-size: 14px !important;
}
